main {
    display: grid;
    padding: 2rem 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#excelBehind {
    background-color: var(--gray-mail);
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 7fr; */
    max-height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: auto;
}

#excelleft {
    display: inline-block;
    background-color: tomato;
    width: 20%;
    margin-right: 20px;
}

#excelTable {
    overflow: auto;
    white-space: nowrap;
}

form {
    background-color: #6FB98F;
}