main {
    display: grid;
    padding: 2rem 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1rem;
}

#excelBehind {
    background-color: var(--gray-main);
    /* display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 7fr; */
    max-height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    overflow: auto;
}

#excelleft {
    display: inline-block;
    background-color: tomato;
    width: 25%;
    margin-right: 20px;
}

#excelTable {
    overflow: auto;
    white-space: nowrap;
}

.btn-upload {
    margin: 5px 0px;
    width: 100%;
    height: 30px;
    background: var(--gray-main);
    border: 1px solid var(--gray-light1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border-radius: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    transition: 0.25s;
}

.btn-upload:hover {
    background: var(--gray-light0);
}

#file {
    display: none;
}