:root {
    --background-light: #f0f4f5;
    --background-normal: #fafafa;
    --background-dark: #c7c7c7;

    --green-dark: #021C1E;
    --green-deep: #004445;
    --green-middle: #2C7873;
    --green-bright: #6FB98F;

    --gray-light0: #D7D7D7;
    --gray-light1: #B1C8BF;
    --gray-light2: #8AA6A3;
    --gray-middle: #788882;
    --gray-dark: #4C5958;
    --gray-main: #F2F2F2;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-normal);
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--gray-middle);
}

body::-webkit-scrollbar-track {
    background-color: var(--background-dark);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--green-middle);
    padding: 10px 0px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

h1 {
    margin: 0px 10px;
    color: #F8FCFA;
}

footer {
    margin-top: auto;
    box-shadow: 0 -2px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    color: var(--gray-middle);
    text-align: center;
    padding: 10px;
}

footer span {
    padding: 0px 50px;
}

main {
    display: grid;
    padding: 2rem 50px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
}

#excelContainer {
    grid-column: 1/7;
}

#sheetsContainer {
    background-color: green;
    border-radius: 5px;
    grid-column: 1/3;
}

#sqlContainer {
    background-color: var(--gray-main);
    border-radius: 5px;
    grid-column: 3/7;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0.5rem 1rem;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    display: inline-block;
    width: auto;
    text-align: start;

    border: 1px solid var(--gray-light1);
    border-radius: 4px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: 0.25s;
}

button:hover {
    background-color: var(--gray-light0);

}

#excelButton {
    width: 100%;
}