.sheetButton {
    width: 100%;
}

.sheetButton span {
    margin-left: 10px;
}

.attributeList:hover {
    background: var(--gray-light0);
    border-bottom: var(--gray-middle) 1px solid;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.attributeList {
    padding: 5px;
    padding-left: 10px;
}

.attributeList td {
    padding: 3px 0px;
    padding-left: 10px;
}

select {
    max-width: auto;
    padding: 2px;
}

.attributeBox {
    padding: 10px;
}

td[rowspan="2"] {
    min-width: 70px;
}

.dropdown {
    max-width: 120px;
    border-color: var(--gray-light0);
}

.otherConstraints {
    font-size: 0.5rem;
}

.otherConstraints label {
    margin-right: 5px;
}

.defaultText {
    width: 70px;
    height: 10px;
    border: 0.5px solid var(--gray-light0);
    font-size: 0.5rem;
}

.defaultText::placeholder {
    color: var(--gray-light0);
}

@media screen and (max-width: 1220px) and (min-width: 1149px) {
    .dropdown {
        max-width: 6vw;
    }

    .defaultText {
        width: auto;
    }

    .defaultText {
        width: 40px;
    }
}

@media (max-width:1150px) {
    .dropdown {
        max-width: 70px;
    }

    .tdFKDropdown {
        max-width: 100px;
    }

    .defaultText {
        width: 30px;
    }
}

@media (min-width: 1300px) {
    .attributeList td {
        padding-left: 1vw;
    }
}